Connected Services/ServiceReference1/ServicePorudzbenica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePorudzbenica" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50214/ServicePorudzbenica.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50214/ServicePorudzbenica.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50214/ServicePorudzbenica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceWebShop" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebShopService_VratiOsobe_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiOsobe" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_VratiOsobe_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiOsobeResponse" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_PreuzmiOsobe_InputMessage">
    <wsdl:part name="parameters" element="tns:PreuzmiOsobe" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_PreuzmiOsobe_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreuzmiOsobeResponse" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_ObrisiPorudzbinu_InputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiPorudzbinu" />
  </wsdl:message>
  <wsdl:message name="IWebShopService_ObrisiPorudzbinu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObrisiPorudzbinuResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebShopService">
    <wsdl:operation name="VratiOsobe">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/VratiOsobe" message="tns:IWebShopService_VratiOsobe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/VratiOsobeResponse" message="tns:IWebShopService_VratiOsobe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreuzmiOsobe">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/PreuzmiOsobe" message="tns:IWebShopService_PreuzmiOsobe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/PreuzmiOsobeResponse" message="tns:IWebShopService_PreuzmiOsobe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObrisiPorudzbinu">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebShopService/ObrisiPorudzbinu" message="tns:IWebShopService_ObrisiPorudzbinu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebShopService/ObrisiPorudzbinuResponse" message="tns:IWebShopService_ObrisiPorudzbinu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebShopService" type="tns:IWebShopService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VratiOsobe">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/VratiOsobe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreuzmiOsobe">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/PreuzmiOsobe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObrisiPorudzbinu">
      <soap:operation soapAction="http://tempuri.org/IWebShopService/ObrisiPorudzbinu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePorudzbenica">
    <wsdl:port name="BasicHttpBinding_IWebShopService" binding="tns:BasicHttpBinding_IWebShopService">
      <soap:address location="http://localhost:50214/ServicePorudzbenica.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>