Connected Services/ServiceReference1/ServicePorudzbenica2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50214/ServicePorudzbenica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceWebShop" />
  <xs:element name="VratiOsobe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiOsobeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceWebShop" minOccurs="0" name="VratiOsobeResult" nillable="true" type="q1:ArrayOfOsobaCon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreuzmiOsobe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceWebShop" minOccurs="0" name="os" nillable="true" type="q2:Porucbenica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreuzmiOsobeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceWebShop" minOccurs="0" name="PreuzmiOsobeResult" nillable="true" type="q3:ArrayOfOsobaCon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiPorudzbinu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiPorudzbinuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceWebShop" minOccurs="0" name="ObrisiPorudzbinuResult" nillable="true" type="q4:ArrayOfOsobaCon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>